@{
    ViewBag.Title = "About";
}
<h2><b>@ViewBag.Title.</b></h2>
<div class="detailsPage">
    <h3>@ViewBag.Message</h3>

    <p>Outdoor games are definitely of great importance. Our brain gets tired after extreme studying in an approximate time of 45 minutes. When are brain is stressed, it can’t take any more information and it gets distracted. This is why most of our classes in schools do not go beyond an hour. When we distract ourselves and go and play in the sun, our mind and body is refreshed and we are ready to take in more knowledge. This type of schedule helps us to relax as well as improve our health. It is also a great way to built and develop our personality. Team work is another important trait that you learn while playing amongst your friends. Co- operation and unity never becomes difficult for people who play in the sun often. We have a captain in charge for most of the games. This helps us to learn obedience and to abide by the rules.</p>
</div>