@{
    ViewBag.Title = "Contact";
}
<h2><b>@ViewBag.Title.</b></h2>
<div class="detailsPage">
    <h3>@ViewBag.Message</h3>

    <address>
        Abhinav<br />
        Bangalore, KA 560103<br />
        <abbr title="Phone">P:</abbr>
        +91 960 621 9309
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:abhinav.kumar@microsoft.com">abhinav.kumar@microsoft.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>